{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "prettier",
    "plugin:compat/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "no-debugger": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
