<ol class="breadcrumbs breadcrumbs--type-mrow my-4" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a href="#" class="breadcrumbs__element" itemprop="item">
      <span itemprop="name">Ремонт</span>
    </a>
    <meta itemprop="position" content="1">
  </li>
  <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a href="#" class="breadcrumbs__element" itemprop="item">
      <span itemprop="name">Apple iPhone 5</span>
    </a>
    <meta itemprop="position" content="2">
  </li>
  <li class="breadcrumbs__item sf_crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a class="breadcrumbs__element" itemprop="item">
      <span itemprop="name">Замена дисплея iPhone 5</span>
    </a>
    <meta itemprop="position" content="3">
  </li>
</ol>
