.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  font-size: 1rem;
  line-height: 1.2;
  display: inline-block;
  color: inherit;
}

.breadcrumbs__item:not(:last-child)::after {
  font-size: 1.2em;
  position: relative;
  top: 0.06em;
  display: inline-block;
  margin-right: 0.4em;
  margin-left: 0.4em;
  content: '/';
  text-align: center;
  color: var(--gray-color-400);
}

.breadcrumbs__item--active {
  margin-top: 0.2em;
}

.breadcrumbs__element {
  color: var(--gray-color-600);
}

@supports (--test: value) {
  .breadcrumbs__item:not(:last-child)::after {
    content: var(--cssuiBreadcrumbsDivider, '/');
  }

  .breadcrumbs--type-row {
    --cssuiBreadcrumbsDivider: '→';
  }

  .breadcrumbs--type-dot {
    --cssuiBreadcrumbsDivider: '•';
  }

  .breadcrumbs--type-vdash {
    --cssuiBreadcrumbsDivider: '|';
  }

  .breadcrumbs--type-mrow {
    --cssuiBreadcrumbsDivider: '›';
  }

  .breadcrumbs--type-dash {
    --cssuiBreadcrumbsDivider: '—';
  }
}
