.btn {
  font-size: 1em;
  font-weight: 400;
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: center;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0.8em 1.6em;
  user-select: none;
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.5, 1) 0ms, color 0s ease;
  vertical-align: middle;
  text-decoration: none;
  color: var(--white);
  border-radius: 0;
  outline: 0;
  background-color: var(--primary);
  justify-self: center;
  touch-action: manipulation;
  will-change: box-shadow;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
  }

  &:not([class~='ripple']):hover {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
  }

  &:not([class~='ripple']):active {
    background-image: initial;
  }

  &[class~='box-shadow-1']:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn--flat {
  color: var(--black);
  border: none;
  background: transparent;

  &:hover {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    );
  }

  &:disabled {
    background: none;
  }
}

.btn--ellipse {
  padding: 0.9em;
  border-radius: 50%;
}

.btn--outline {
  color: inherit;
  border: 1px solid;
  background: transparent;
}

.btn--preloader {
  pointer-events: none;

  .preloader {
    display: initial;
  }
}
