.preloader {
  display: none;
  width: 1em;
  height: 1em;
  animation: rotate 1s infinite linear;
  border: 0.12em solid rgba(255, 255, 255, 0.5);
  border-top: 0.12em solid #fff;
  border-radius: 50%;
}
