@@include('_head.html')
<header class="container outside-container py-4 mb-4 bg-primary flex flex-wrap justify-between">
  <div class="text-2xl">Company</div>
</header>
<main class="container">
  @@include('_breadcrumbs.html')
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-auto-fit gap-4">
    <div class="p-6 bg-pink-600 ripple"></div>
  </div>
</main>
<footer class="container outside-container bg-gray-800 text-white py-6">
  <small class="block text-center">&copy; Company 2019</small>
</footer>
@@include('_foot.html')
